:root {
  --accent-1: #639bff;
  --accent-1-dark: #5b6ee1;
  --accent-1-darker: #4459cf;
  --accent-2: #d77bba;
  --accent-2-dark: #c462a5;
  --accent-2-darker: #b84d96;
}

@font-face {
  font-family: 'cute-cat';
  src: url('/cute_cat.otf') format('opentype');
}

@font-face {
  font-family: 'miri';
  src: url('/miri.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

body {
  margin: 0;
  background: url(/bg.png);
  background-repeat: repeat;
  font-family: cute-cat, miri, system-ui;
  color: white;
}

.lbl-colorful {
  font-size: 42px;
  color: white;
  text-shadow:
    -4px -4px 0 var(--accent-2-dark),
    4px -4px 0 var(--accent-2-dark),
    -4px 4px 0 var(--accent-2-dark),
    4px 4px 0 var(--accent-2-dark);
}

.lbl-stat {
  font-size: 36px;
  color: var(--accent-2);
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  color: black;
  font-family: cute-cat, miri, system-ui;
}
